In [13]:
import pandas as pd

In [14]:
#import the csv files
Weather_df = pd.read_csv('Weather/weather_data_clean.csv')
Bike_data_df= pd.read_csv('Bike_data/Bike_data.csv')

In [15]:
#check dataframe 
Weather_df

,W_date,W_Temp_Max,W_Temp_Avg,W_Temp_Min,W_Max_wind,W_Avg_wind,W_Min_wind,W_Wind_Gust,W_Air_Pressure,W_Snow_Depth,W_Max_humid,W_Avg_humid,W_Min_humid,W_Max_Dp,W_Avg_dp,W_Min_Dp
0,2019-01-01,5.2,-1.4,-8.0,37.0,21.4,3.2,58.0,1015.1,NaN,100.0,85.5,64.0,6.1,-0.6,-11.1
1,2019-01-02,-0.5,-4.9,-9.3,20.9,11.9,8.0,NaN,1023.0,0.0,100.0,84.0,74.0,0.0,-5.1,-11.1
2,2019-01-03,0.8,-1.0,-2.8,37.0,18.2,0.0,46.0,1013.3,30.0,100.0,86.0,69.0,0.0,-1.9,-5.0
3,2019-01-04,8.0,3.6,-0.8,29.0,18.8,8.0,54.0,1007.6,30.0,87.0,80.7,70.0,2.2,0.1,-1.1
4,2019-01-05,4.0,1.2,-1.7,32.2,16.3,3.2,33.0,1006.1,0.0,93.0,83.7,75.0,1.1,-0.1,-1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2021-12-27,0.1,-3.1,-6.2,59.5,38.9,9.7,48.0,1014.1,40.0,100.0,90.9,68.0,1.1,-2.3,-10.0
1092,2021-12-28,2.3,0.9,-0.6,40.2,17.2,3.2,57.0,1009.8,20.0,100.0,80.5,56.0,2.2,-1.4,-5.0
1093,2021-12-29,2.2,1.0,-0.3,32.2,20.8,4.8,NaN,1011.7,10.0,100.0,91.1,81.0,2.8,0.9,-1.1
1094,2021-12-30,2.2,1.1,0.0,24.1,12.6,4.8,NaN,1013.8,NaN,87.0,80.5,70.0,1.1,-0.4,-2.2
1095,2021-12-31,6.7,4.3,1.9,27.4,16.1,3.2,NaN,1010.7,NaN,100.0,93.1,81.0,3.9,2.9,0.0

In [16]:
Bike_data_df

,Date,counts_trips,counts_Bike,trip_duration,counts_member_annual,counts_member_casual
0,2019-01-01,1064,674,1121463.0,897,167.0
1,2019-01-02,2290,1135,2838818.0,2207,83.0
2,2019-01-03,2279,955,1650338.0,2228,51.0
3,2019-01-04,3290,1381,2269606.0,3130,160.0
4,2019-01-05,2160,1053,1468872.0,1937,223.0
...,...,...,...,...,...,...
1091,2021-12-27,1265,756,955753.0,873,392.0
1092,2021-12-28,3054,1466,2356616.0,2025,1029.0
1093,2021-12-29,3521,1668,2896184.0,2440,1081.0
1094,2021-12-30,4065,1785,2938443.0,2836,1229.0
1095,2021-12-31,4832,1973,4279555.0,3186,1646.0

In [17]:
#change column name to match column name in database
Weather_df.columns = ['w_date','w_temp_max','w_temp_avg','w_temp_min','w_max_wind','w_avg_wind','w_min_wind','w_wind_gust','w_air_pressure','w_snow_depth','w_max_humid','w_avg_humid','w_min_humid','w_max_dp','w_avg_dp','w_min_dp']
Weather_df

,w_date,w_temp_max,w_temp_avg,w_temp_min,w_max_wind,w_avg_wind,w_min_wind,w_wind_gust,w_air_pressure,w_snow_depth,w_max_humid,w_avg_humid,w_min_humid,w_max_dp,w_avg_dp,w_min_dp
0,2019-01-01,5.2,-1.4,-8.0,37.0,21.4,3.2,58.0,1015.1,NaN,100.0,85.5,64.0,6.1,-0.6,-11.1
1,2019-01-02,-0.5,-4.9,-9.3,20.9,11.9,8.0,NaN,1023.0,0.0,100.0,84.0,74.0,0.0,-5.1,-11.1
2,2019-01-03,0.8,-1.0,-2.8,37.0,18.2,0.0,46.0,1013.3,30.0,100.0,86.0,69.0,0.0,-1.9,-5.0
3,2019-01-04,8.0,3.6,-0.8,29.0,18.8,8.0,54.0,1007.6,30.0,87.0,80.7,70.0,2.2,0.1,-1.1
4,2019-01-05,4.0,1.2,-1.7,32.2,16.3,3.2,33.0,1006.1,0.0,93.0,83.7,75.0,1.1,-0.1,-1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2021-12-27,0.1,-3.1,-6.2,59.5,38.9,9.7,48.0,1014.1,40.0,100.0,90.9,68.0,1.1,-2.3,-10.0
1092,2021-12-28,2.3,0.9,-0.6,40.2,17.2,3.2,57.0,1009.8,20.0,100.0,80.5,56.0,2.2,-1.4,-5.0
1093,2021-12-29,2.2,1.0,-0.3,32.2,20.8,4.8,NaN,1011.7,10.0,100.0,91.1,81.0,2.8,0.9,-1.1
1094,2021-12-30,2.2,1.1,0.0,24.1,12.6,4.8,NaN,1013.8,NaN,87.0,80.5,70.0,1.1,-0.4,-2.2
1095,2021-12-31,6.7,4.3,1.9,27.4,16.1,3.2,NaN,1010.7,NaN,100.0,93.1,81.0,3.9,2.9,0.0

In [18]:
#change column name to match table in database
Bike_data_df.columns=['b_date','b_counts_trips','b_counts_bike','b_trip_duration','b_counts_member_annual','b_counts_member_casual']
Bike_data_df

,b_date,b_counts_trips,b_counts_bike,b_trip_duration,b_counts_member_annual,b_counts_member_casual
0,2019-01-01,1064,674,1121463.0,897,167.0
1,2019-01-02,2290,1135,2838818.0,2207,83.0
2,2019-01-03,2279,955,1650338.0,2228,51.0
3,2019-01-04,3290,1381,2269606.0,3130,160.0
4,2019-01-05,2160,1053,1468872.0,1937,223.0
...,...,...,...,...,...,...
1091,2021-12-27,1265,756,955753.0,873,392.0
1092,2021-12-28,3054,1466,2356616.0,2025,1029.0
1093,2021-12-29,3521,1668,2896184.0,2440,1081.0
1094,2021-12-30,4065,1785,2938443.0,2836,1229.0
1095,2021-12-31,4832,1973,4279555.0,3186,1646.0

In [19]:
Weather_df=Weather_df.fillna(0)
Bike_data_df=Bike_data_df.fillna(0)

In [20]:
Weather_df

,w_date,w_temp_max,w_temp_avg,w_temp_min,w_max_wind,w_avg_wind,w_min_wind,w_wind_gust,w_air_pressure,w_snow_depth,w_max_humid,w_avg_humid,w_min_humid,w_max_dp,w_avg_dp,w_min_dp
0,2019-01-01,5.2,-1.4,-8.0,37.0,21.4,3.2,58.0,1015.1,0.0,100.0,85.5,64.0,6.1,-0.6,-11.1
1,2019-01-02,-0.5,-4.9,-9.3,20.9,11.9,8.0,0.0,1023.0,0.0,100.0,84.0,74.0,0.0,-5.1,-11.1
2,2019-01-03,0.8,-1.0,-2.8,37.0,18.2,0.0,46.0,1013.3,30.0,100.0,86.0,69.0,0.0,-1.9,-5.0
3,2019-01-04,8.0,3.6,-0.8,29.0,18.8,8.0,54.0,1007.6,30.0,87.0,80.7,70.0,2.2,0.1,-1.1
4,2019-01-05,4.0,1.2,-1.7,32.2,16.3,3.2,33.0,1006.1,0.0,93.0,83.7,75.0,1.1,-0.1,-1.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1091,2021-12-27,0.1,-3.1,-6.2,59.5,38.9,9.7,48.0,1014.1,40.0,100.0,90.9,68.0,1.1,-2.3,-10.0
1092,2021-12-28,2.3,0.9,-0.6,40.2,17.2,3.2,57.0,1009.8,20.0,100.0,80.5,56.0,2.2,-1.4,-5.0
1093,2021-12-29,2.2,1.0,-0.3,32.2,20.8,4.8,0.0,1011.7,10.0,100.0,91.1,81.0,2.8,0.9,-1.1
1094,2021-12-30,2.2,1.1,0.0,24.1,12.6,4.8,0.0,1013.8,0.0,87.0,80.5,70.0,1.1,-0.4,-2.2
1095,2021-12-31,6.7,4.3,1.9,27.4,16.1,3.2,0.0,1010.7,0.0,100.0,93.1,81.0,3.9,2.9,0.0

In [21]:
# Import Modules and Create the Database Engine
from sqlalchemy import create_engine
import psycopg2
from config import db_password

db_string = f"postgresql://postgres:{db_password}@localhost/Bike_sharing"

In [22]:
# Create the database engine 
engine = create_engine(db_string)

In [25]:
#import bike data
engine.execute('TRUNCATE tbl_bike_data RESTART IDENTITY;')
Bike_data_df.to_sql('tbl_bike_data',con=engine, if_exists='append',index=False)

In [24]:
#import weather data
engine.execute('TRUNCATE tbl_weather_data RESTART IDENTITY;')
Weather_df.to_sql(name="tbl_weather_data", con=engine, if_exists='append',index=False)