In [216]:
import pandas as pd
import glob
import os
# read file from wunderground.com
path = r'D:\bootcamp\week_20_Final_Project\BIke sharing\weather\Wunderground'                    
all_files = glob.glob(os.path.join(path, "*.csv"))

# read each csv file and concatenate it into one dataframe
df_from_each_file = (pd.read_csv(f) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [217]:
concatenated_df

,W_Year,W_Month,W_Day,W_Max_Dp,W_Avg_dp,W_Min_Dp,W_Max_wind,W_Avg_wind,W_Min_wind,W_Max_humid,W_Avg_humid,W_Min_humid
0,3: 2019,Jan,Jan,Max,Avg,Min,Max,Avg,Min,Max,Avg,Min
1,3: 2019,Jan,1,43,30.9,12,23,13.3,2,100,85.5,64
2,3: 2019,Jan,2,32,22.9,12,13,7.4,5,100,84.0,74
3,3: 2019,Jan,3,32,28.6,23,23,11.3,0,100,86.0,69
4,3: 2019,Jan,4,36,32.2,30,18,11.7,5,87,80.7,70
...,...,...,...,...,...,...,...,...,...,...,...,...
1126,1: 2021,Sep,26,54,49.0,45,17,8.9,0,77,66.9,49
1127,1: 2021,Sep,27,61,58.1,55,14,6.8,0,94,80.9,61
1128,1: 2021,Sep,28,57,44.8,37,12,7.4,2,82,60.1,37
1129,1: 2021,Sep,29,52,45.2,34,14,8.7,6,82,59.5,36
1130,1: 2021,Sep,30,46,42.3,0,9,5.5,0,76,61.2,0

In [218]:
#delete unnecessary rows
concatenated_df = concatenated_df.loc[concatenated_df["W_Max_Dp"] != 'Max']

In [219]:
concatenated_df

,W_Year,W_Month,W_Day,W_Max_Dp,W_Avg_dp,W_Min_Dp,W_Max_wind,W_Avg_wind,W_Min_wind,W_Max_humid,W_Avg_humid,W_Min_humid
1,3: 2019,Jan,1,43,30.9,12,23,13.3,2,100,85.5,64
2,3: 2019,Jan,2,32,22.9,12,13,7.4,5,100,84.0,74
3,3: 2019,Jan,3,32,28.6,23,23,11.3,0,100,86.0,69
4,3: 2019,Jan,4,36,32.2,30,18,11.7,5,87,80.7,70
5,3: 2019,Jan,5,34,31.8,30,20,10.1,2,93,83.7,75
...,...,...,...,...,...,...,...,...,...,...,...,...
1126,1: 2021,Sep,26,54,49.0,45,17,8.9,0,77,66.9,49
1127,1: 2021,Sep,27,61,58.1,55,14,6.8,0,94,80.9,61
1128,1: 2021,Sep,28,57,44.8,37,12,7.4,2,82,60.1,37
1129,1: 2021,Sep,29,52,45.2,34,14,8.7,6,82,59.5,36
1130,1: 2021,Sep,30,46,42.3,0,9,5.5,0,76,61.2,0

In [220]:
#slice Year column data 
concatenated_df['W_Year'] = concatenated_df['W_Year'].str.slice(2,7)
concatenated_df

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,W_Year,W_Month,W_Day,W_Max_Dp,W_Avg_dp,W_Min_Dp,W_Max_wind,W_Avg_wind,W_Min_wind,W_Max_humid,W_Avg_humid,W_Min_humid
1,2019,Jan,1,43,30.9,12,23,13.3,2,100,85.5,64
2,2019,Jan,2,32,22.9,12,13,7.4,5,100,84.0,74
3,2019,Jan,3,32,28.6,23,23,11.3,0,100,86.0,69
4,2019,Jan,4,36,32.2,30,18,11.7,5,87,80.7,70
5,2019,Jan,5,34,31.8,30,20,10.1,2,93,83.7,75
...,...,...,...,...,...,...,...,...,...,...,...,...
1126,2021,Sep,26,54,49.0,45,17,8.9,0,77,66.9,49
1127,2021,Sep,27,61,58.1,55,14,6.8,0,94,80.9,61
1128,2021,Sep,28,57,44.8,37,12,7.4,2,82,60.1,37
1129,2021,Sep,29,52,45.2,34,14,8.7,6,82,59.5,36
1130,2021,Sep,30,46,42.3,0,9,5.5,0,76,61.2,0

In [221]:
#Mapping Month Name to number
Month_mapping = {'Jan':1, 'Feb':2, 'Mar':3, 'Apr':4,'May':5,'Jun':6,'Jul':7,'Aug':8,'Sep':9,'Oct':10,'Nov':11,'Dec':12}
concatenated_df.W_Month= concatenated_df.W_Month.map(Month_mapping)

C:\Anaconda\envs\mlenv\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [222]:
#Change datatype 
concatenated_df['W_Year']=concatenated_df['W_Year'].astype(str).astype('int64')
concatenated_df['W_Day']=concatenated_df['W_Day'].astype(str).astype('int64')
concatenated_df['W_Max_Dp']=concatenated_df['W_Max_Dp'].astype(str).astype('float64')
concatenated_df['W_Avg_dp']=concatenated_df['W_Avg_dp'].astype(str).astype('float64')
concatenated_df['W_Min_Dp']=concatenated_df['W_Min_Dp'].astype(str).astype('float64')
concatenated_df['W_Max_humid']=concatenated_df['W_Max_humid'].astype(str).astype('float64')
concatenated_df['W_Avg_humid']=concatenated_df['W_Avg_humid'].astype(str).astype('float64')
concatenated_df['W_Min_humid']=concatenated_df['W_Min_humid'].astype(str).astype('float64')
concatenated_df['W_Max_wind']=concatenated_df['W_Max_wind'].astype(str).astype('float64')
concatenated_df['W_Avg_wind']=concatenated_df['W_Avg_wind'].astype(str).astype('float64')
concatenated_df['W_Min_wind']=concatenated_df['W_Min_wind'].astype(str).astype('float64')

concatenated_df.dtypes

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

W_Year           int64
W_Month          int64
W_Day            int64
W_Max_Dp       float64
W_Avg_dp       float64
W_Min_Dp       float64
W_Max_wind     float64
W_Avg_wind     float64
W_Min_wind     float64
W_Max_humid    float64
W_Avg_humid    float64
W_Min_humid    float64
dtype: object

In [223]:
# Change Metric from Fahrenheit to Celcius 
concatenated_df['W_Max_Dp'] = (concatenated_df['W_Max_Dp'] - 32) * 5 / 9
concatenated_df['W_Avg_dp'] = (concatenated_df['W_Avg_dp'] - 32) * 5 / 9
concatenated_df['W_Min_Dp'] = (concatenated_df['W_Min_Dp'] - 32) * 5 / 9
#Change Metric from mph to kmh
concatenated_df['W_Max_wind']=concatenated_df['W_Max_wind']*1.60934
concatenated_df['W_Avg_wind']=concatenated_df['W_Avg_wind']*1.60934
concatenated_df['W_Min_wind']=concatenated_df['W_Min_wind']*1.60934

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [224]:
#rounding Data 
decimals = 1    
concatenated_df['W_Max_Dp'] = concatenated_df['W_Max_Dp'].apply(lambda x: round(x, decimals))
concatenated_df['W_Avg_dp'] = concatenated_df['W_Avg_dp'].apply(lambda x: round(x, decimals))
concatenated_df['W_Min_Dp'] = concatenated_df['W_Min_Dp'].apply(lambda x: round(x, decimals))
concatenated_df['W_Max_wind'] = concatenated_df['W_Max_wind'].apply(lambda x: round(x, decimals))
concatenated_df['W_Avg_wind'] = concatenated_df['W_Avg_wind'].apply(lambda x: round(x, decimals))
concatenated_df['W_Min_wind'] = concatenated_df['W_Min_wind'].apply(lambda x: round(x, decimals))
concatenated_df.head()

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,W_Year,W_Month,W_Day,W_Max_Dp,W_Avg_dp,W_Min_Dp,W_Max_wind,W_Avg_wind,W_Min_wind,W_Max_humid,W_Avg_humid,W_Min_humid
1,2019,1,1,6.1,-0.6,-11.1,37.0,21.4,3.2,100.0,85.5,64.0
2,2019,1,2,0.0,-5.1,-11.1,20.9,11.9,8.0,100.0,84.0,74.0
3,2019,1,3,0.0,-1.9,-5.0,37.0,18.2,0.0,100.0,86.0,69.0
4,2019,1,4,2.2,0.1,-1.1,29.0,18.8,8.0,87.0,80.7,70.0
5,2019,1,5,1.1,-0.1,-1.1,32.2,16.3,3.2,93.0,83.7,75.0

In [225]:
#Make sure there is no missing data for the day
concatenated_df.groupby(['W_Year', 'W_Month']).size().reset_index(name='counts')

    W_Year  W_Month  counts
0     2019        1      31
1     2019        2      28
2     2019        3      31
3     2019        4      30
4     2019        5      31
5     2019        6      30
6     2019        7      31
7     2019        8      31
8     2019        9      30
9     2019       10      31
10    2019       11      30
11    2019       12      31
12    2020        1      31
13    2020        2      29
14    2020        3      31
15    2020        4      30
16    2020        5      31
17    2020        6      30
18    2020        7      31
19    2020        8      31
20    2020        9      30
21    2020       10      31
22    2020       11      29
23    2020       12      31
24    2021        1      31
25    2021        2      28
26    2021        3      31
27    2021        4      30
28    2021        5      31
29    2021        6      30
30    2021        7      31
31    2021        8      31
32    2021        9      30
33    2021       10      31
34    2021       11      30
35    2021       12      31

In [226]:
# read file from meteostat.net
meteo_df=pd.read_csv('Meteo_Data/export.csv')

In [227]:
#check dataframe
meteo_df

,date,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun
0,2019-01-01,-1.4,-8.0,5.2,0.6,NaN,325.6,24.5,58.0,1015.1,NaN
1,2019-01-02,-4.9,-9.3,-0.5,3.6,0.0,68.1,10.1,NaN,1023.0,NaN
2,2019-01-03,-1.0,-2.8,0.8,0.2,30.0,249.0,20.2,46.0,1013.3,NaN
3,2019-01-04,3.6,-0.8,8.0,0.0,30.0,244.4,22.9,54.0,1007.6,NaN
4,2019-01-05,1.2,-1.7,4.0,0.0,0.0,302.0,13.4,33.0,1006.1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1091,2021-12-27,-3.1,-6.2,0.1,3.6,40.0,65.2,15.5,48.0,1014.1,NaN
1092,2021-12-28,0.9,-0.6,2.3,0.2,20.0,280.0,16.1,57.0,1009.8,NaN
1093,2021-12-29,1.0,-0.3,2.2,0.2,10.0,83.3,9.0,NaN,1011.7,NaN
1094,2021-12-30,1.1,0.0,2.2,0.0,NaN,349.5,8.8,NaN,1013.8,NaN
1095,2021-12-31,4.3,1.9,6.7,0.0,NaN,134.0,8.2,NaN,1010.7,NaN

In [228]:
#Slice date and make new column (Year,Month,Day)
meteo_df['Year'] = pd.DatetimeIndex(meteo_df['date']).year
meteo_df['Month'] = pd.DatetimeIndex(meteo_df['date']).month
meteo_df['Day'] = pd.DatetimeIndex(meteo_df['date']).day
#drop column date
meteo_df = meteo_df.drop('date', 1)
meteo_df.head()

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

,tavg,tmin,tmax,prcp,snow,wdir,wspd,wpgt,pres,tsun,Year,Month,Day
0,-1.4,-8.0,5.2,0.6,NaN,325.6,24.5,58.0,1015.1,NaN,2019,1,1
1,-4.9,-9.3,-0.5,3.6,0.0,68.1,10.1,NaN,1023.0,NaN,2019,1,2
2,-1.0,-2.8,0.8,0.2,30.0,249.0,20.2,46.0,1013.3,NaN,2019,1,3
3,3.6,-0.8,8.0,0.0,30.0,244.4,22.9,54.0,1007.6,NaN,2019,1,4
4,1.2,-1.7,4.0,0.0,0.0,302.0,13.4,33.0,1006.1,NaN,2019,1,5

In [229]:
#Make sure there is no missing data for the day
meteo_df.groupby(['Year', 'Month']).size().reset_index(name='counts')

    Year  Month  counts
0   2019      1      31
1   2019      2      28
2   2019      3      31
3   2019      4      30
4   2019      5      31
5   2019      6      30
6   2019      7      31
7   2019      8      31
8   2019      9      30
9   2019     10      31
10  2019     11      30
11  2019     12      31
12  2020      1      31
13  2020      2      29
14  2020      3      31
15  2020      4      30
16  2020      5      31
17  2020      6      30
18  2020      7      31
19  2020      8      31
20  2020      9      30
21  2020     10      31
22  2020     11      30
23  2020     12      31
24  2021      1      31
25  2021      2      28
26  2021      3      31
27  2021      4      30
28  2021      5      31
29  2021      6      30
30  2021      7      31
31  2021      8      31
32  2021      9      30
33  2021     10      31
34  2021     11      30
35  2021     12      31

In [230]:
# drop wspd,tsun
meteo_df = meteo_df.drop(['wspd','tsun'], 1)
meteo_df.head()

C:\Anaconda\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

   tavg  tmin  tmax  prcp  snow   wdir  wpgt    pres  Year  Month  Day
0  -1.4  -8.0   5.2   0.6   NaN  325.6  58.0  1015.1  2019      1    1
1  -4.9  -9.3  -0.5   3.6   0.0   68.1   NaN  1023.0  2019      1    2
2  -1.0  -2.8   0.8   0.2  30.0  249.0  46.0  1013.3  2019      1    3
3   3.6  -0.8   8.0   0.0  30.0  244.4  54.0  1007.6  2019      1    4
4   1.2  -1.7   4.0   0.0   0.0  302.0  33.0  1006.1  2019      1    5

In [231]:
#change column name to be more easier to understand
meteo_df.columns = ['W_Temp_Avg','W_Temp_Min','W_Temp_Max','W_Precipitation','W_Snow_Depth','W_Wind_Dir','W_Wind_Gust','W_Air_Pressure','W_Year','W_Month','W_Day']

#change column name to be more clean
#concatenated_df.columns['W_Year','W_Month','W_Day','W_Max_Dp','W_Avg_Dp','W_Min_Dp','W_Max_Wind','W_Avg_Wind','W_Min_Wind','W_Max_Humid','W_Avg_Humid','W_Min_Humid']

#Merge meteo df and concatenated_df
df = pd.merge(meteo_df,concatenated_df,on=['W_Year', 'W_Month','W_Day'], how='left')


df.head()

,W_Temp_Avg,W_Temp_Min,W_Temp_Max,W_Precipitation,W_Snow_Depth,W_Wind_Dir,W_Wind_Gust,W_Air_Pressure,W_Year,W_Month,W_Day,W_Max_Dp,W_Avg_dp,W_Min_Dp,W_Max_wind,W_Avg_wind,W_Min_wind,W_Max_humid,W_Avg_humid,W_Min_humid
0,-1.4,-8.0,5.2,0.6,NaN,325.6,58.0,1015.1,2019,1,1,6.1,-0.6,-11.1,37.0,21.4,3.2,100.0,85.5,64.0
1,-4.9,-9.3,-0.5,3.6,0.0,68.1,NaN,1023.0,2019,1,2,0.0,-5.1,-11.1,20.9,11.9,8.0,100.0,84.0,74.0
2,-1.0,-2.8,0.8,0.2,30.0,249.0,46.0,1013.3,2019,1,3,0.0,-1.9,-5.0,37.0,18.2,0.0,100.0,86.0,69.0
3,3.6,-0.8,8.0,0.0,30.0,244.4,54.0,1007.6,2019,1,4,2.2,0.1,-1.1,29.0,18.8,8.0,87.0,80.7,70.0
4,1.2,-1.7,4.0,0.0,0.0,302.0,33.0,1006.1,2019,1,5,1.1,-0.1,-1.1,32.2,16.3,3.2,93.0,83.7,75.0

In [232]:
#change column order
df = df[['W_Year','W_Month','W_Day','W_Temp_Max','W_Temp_Avg','W_Temp_Min','W_Max_wind','W_Avg_wind','W_Min_wind','W_Wind_Gust','W_Air_Pressure','W_Snow_Depth','W_Max_humid','W_Avg_humid','W_Min_humid','W_Max_Dp','W_Avg_dp','W_Min_Dp']]

df.head()

,W_Year,W_Month,W_Day,W_Temp_Max,W_Temp_Avg,W_Temp_Min,W_Max_wind,W_Avg_wind,W_Min_wind,W_Wind_Gust,W_Air_Pressure,W_Snow_Depth,W_Max_humid,W_Avg_humid,W_Min_humid,W_Max_Dp,W_Avg_dp,W_Min_Dp
0,2019,1,1,5.2,-1.4,-8.0,37.0,21.4,3.2,58.0,1015.1,NaN,100.0,85.5,64.0,6.1,-0.6,-11.1
1,2019,1,2,-0.5,-4.9,-9.3,20.9,11.9,8.0,NaN,1023.0,0.0,100.0,84.0,74.0,0.0,-5.1,-11.1
2,2019,1,3,0.8,-1.0,-2.8,37.0,18.2,0.0,46.0,1013.3,30.0,100.0,86.0,69.0,0.0,-1.9,-5.0
3,2019,1,4,8.0,3.6,-0.8,29.0,18.8,8.0,54.0,1007.6,30.0,87.0,80.7,70.0,2.2,0.1,-1.1
4,2019,1,5,4.0,1.2,-1.7,32.2,16.3,3.2,33.0,1006.1,0.0,93.0,83.7,75.0,1.1,-0.1,-1.1

In [233]:
#Make sure there is no missing data for the day
df.groupby(['W_Year', 'W_Month']).size().reset_index(name='counts')

    W_Year  W_Month  counts
0     2019        1      31
1     2019        2      28
2     2019        3      31
3     2019        4      30
4     2019        5      31
5     2019        6      30
6     2019        7      31
7     2019        8      31
8     2019        9      30
9     2019       10      31
10    2019       11      30
11    2019       12      31
12    2020        1      31
13    2020        2      29
14    2020        3      31
15    2020        4      30
16    2020        5      31
17    2020        6      30
18    2020        7      31
19    2020        8      31
20    2020        9      30
21    2020       10      31
22    2020       11      30
23    2020       12      31
24    2021        1      31
25    2021        2      28
26    2021        3      31
27    2021        4      30
28    2021        5      31
29    2021        6      30
30    2021        7      31
31    2021        8      31
32    2021        9      30
33    2021       10      31
34    2021       11      30
35    2021       12      31

In [234]:
df.to_csv('result/result.csv',index=False)

In [235]:
df.dtypes

W_Year              int64
W_Month             int64
W_Day               int64
W_Temp_Max        float64
W_Temp_Avg        float64
W_Temp_Min        float64
W_Max_wind        float64
W_Avg_wind        float64
W_Min_wind        float64
W_Wind_Gust       float64
W_Air_Pressure    float64
W_Snow_Depth      float64
W_Max_humid       float64
W_Avg_humid       float64
W_Min_humid       float64
W_Max_Dp          float64
W_Avg_dp          float64
W_Min_Dp          float64
dtype: object